.leave-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: #fff;
  }
  
  .leave-table th,
  .leave-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .leave-table th {
    background: #f4f6f8;
  }
  
  .status.pending {
    color: orange;
    font-weight: bold;
  }
  
  .status.approved {
    color: green;
    font-weight: bold;
  }
  
  .status.rejected {
    color: red;
    font-weight: bold;
  }
  